body {
    background-color: #0c0717;
}

.gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif {
    padding: 10px;
}

.loader {
    color: #3071e7;
}